﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MenuList.ascx.cs" Inherits="WebApplication1.UserControl.MenuList" %>
<asp:SqlDataSource runat="server" ID="menu_page"
    ConnectionString="<%$ ConnectionStrings:page_con %>"></asp:SqlDataSource>
<ul class="nav navbar-nav" id="menubox" runat="server">

</ul>
