﻿/*
    Don't make the same mistake I did and make a class
    called row (conflicts with bootstrap css...)
*/
.tablerow{
    transition: background 100ms;
}
/*
    important is actually necessary because
    SKIN files set the inline style html attribute,
    the only thing that can overwrite it is by deleting
    the inline styling (not possible with css) or by 
    using !important
*/
.tablerow:hover {
    background: #fff176 !important;
}
